<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=en" th:lang="en"> 
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shring-to-fit=no"/>
	<!-- include css in the header -->
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/wf.css}"/>
	<link rel="stylesheet" type="text/css" media="all" href=" https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
	<title th:text="#{wf.title}"></title>
</head>
<!-- end head fragments -->
<body>
	<div class="container">
		<nav class="navbar navbar-expand-sm bg-dark">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link"
						data-toggle="tooltip"
						th:text="#{wf.home}"
						th:title="#{wf.home}"
						th:href="@{'/'}">
					</a>
				</li>
			</ul>
		</nav>
	<!-- begin breadcrumbs -->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a th:href="@{/(q=${q})}" th:text="${q}"></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page" th:text="|${ownerRepo.repoName} (${ownerRepo.owner})|"></li>
			</ol>
		</nav>
	<!-- end breadcrumbs -->
		<div class="container">
			<table id="contributors" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th th:text="#{wf.lbl.commiter}"></th>
						<th th:text="#{wf.lbl.url}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contrib : ${contribs}">
						<td th:text="${contrib.name}"></td>
						<td>
							<a th:href="@{contrib.url}" th:text="${contrib.url}"></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row x-chart" id="activitiesChart"></div>
			<p></p>
			<div class="row x-chart" id="projectionChart"></div>
		</div>
	</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
	(function() {
		 $('#contributors').DataTable({
			 "pageLength": 5
		 });

		var activities = new CanvasJS.Chart('activitiesChart', {
			title: {text: 'Github activities'},
			data: [{
				type: 'column',
				dataPoints: [[${committersActivity}]]
			}]
		});
		activities.render();

		var timestamps = new CanvasJS.Chart('projectionChart', {
			title: {text: 'Commit activities projection'},
			zoomEnabled: true,
			data: [{
				type: 'area',
				xValueType: "dateTime",
				dataPoints: [[${timestamps}]]
			}]
		});
		timestamps.render();
	})();
/*]]>*/
</script>
</body>
</html>